<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531056872253-2v9gpls3tludbkppd0tc6bq1j7irovlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531056872253-2v9gpls3tludbkppd0tc6bq1j7irovlr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531056872253-snp4pbac6t3hv58ejuqvsjtg5iiovlfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVhWUUEQjFD1uX-Do0THSyFk1NWjTSCE4</string>
	<key>GCM_SENDER_ID</key>
	<string>531056872253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject2023</string>
	<key>PROJECT_ID</key>
	<string>project-akhir-20125</string>
	<key>STORAGE_BUCKET</key>
	<string>project-akhir-20125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531056872253:ios:260dfb646b5bf029759354</string>
</dict>
</plist>